@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');

:root{
  --font--primary: 'Crimson Text', serif;
  --color-main: #ff7b00;
  --color-hover: #e96a00;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: var(--font--primary);
  min-height: 100vh;
  background: linear-gradient(135deg, #f2f2f2, #e6e6e6);
}


.login-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.login-card{
  display: flex;
  justify-content: space-evenly;
  width: 670px;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 15px 40px rgba(0,0,0,0.1);
  text-align: center;
  animation: fadeIn 0.6s ease;
}


.login-logo{
  padding: 60px -10px;
  border-right: 1px solid #b4b3b3;
}

.login-logo img{
  width: 290px;
  margin-right: 30px;
  margin-top: 130px;
}


.login-card form{
  padding: 20px;
  display: flex;
  flex-direction: column;
}


.login-card h1{
  font-size: 26px;
  margin-bottom: 20px;
}


.form-group{
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}


.form-group label{
  font-size: 15px;
  margin-bottom: 14px;
  display: block;
}

.form-group input{
  width: 110%;
  padding: 12px;
  border: 1px solid var(--color-main);
  border-radius: 10px;
  font-size: 13px;
  outline: none;
  transition: 0.3s;
}

.form-group input:focus{
  border-color: var(--color-hover);
  box-shadow: 0 0 5px rgba(179, 90, 7, 0.877);
}

.login-card button{
  width: 60%;
  height: 45px;
  border: none;
  margin-left: 45px;
  justify-items: center;
  border-radius: 10px;
  background: var(--color-main);
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.login-card button:hover{
  background: var(--color-hover);
  transform: translateY(-1px);
}

.login-card p{
  margin-top: 15px;
  font-size: 15px;
  text-align: center;
}

.login-card a{
  color: var(--color-main);
  text-decoration: none;
  font-weight: 600;
}

.login-card a:hover{
  text-decoration: underline;
}

@keyframes fadeIn{
  from{
    opacity: 0;
    transform: translateX(70px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

/* registro */

.register-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #f2f2f2, #e6e6e6);
}

.register-card{
  display: flex;
  width: 700px;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 15px 40px rgba(0,0,0,0.1);
}

/* IZQUIERDA */
.register-left{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #b4b3b3;
}

.register-left img{
  width: 250px;
}

/* DERECHA */
.register-right{
  width: 50%;
  padding: 30px;
}

.register-right form{
  display: flex;
  flex-direction: column;
}

.register-right h1{
  text-align: center;
  margin-bottom: 20px;
}

/* INPUTS */
.register-group{
  margin-bottom: 18px;
}

.register-group label{
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
}

.register-group input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ff7b00;
  border-radius: 10px;
  font-size: 13px;
}

/* BOTÓN */
.register-btn{
  width: 100%;
  padding: 10px;
  background: #ff7b00;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.register-btn:hover{
  background: #e96a00;
}

/* TEXTO */
.register-right p{
  margin-top: 15px;
  text-align: center;
}

.register-right a{
  color: #ff7b00;
  text-decoration: none;
  font-weight: 600;
}